<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel List</title>
  </head>
  <body>


      <div class="row mt-4">
        {% for d in singapore_list%}
        <div class="col-md-4">
          <h3>Hotel Name: {{d.hotel_name}}</h3>
          <img
            src="{{d.image.url}}"
            alt="Image cannot be seen"
            width="200"
            height="200"
          />
          <p class="mt-2">Address: {{d.address}}</p>
          <p class="mt-2">Rating: {{d.rating}}/5</p>
          <p class="mt-2">Price: ${{d.price}}</p>
          
        </div>
        {% endfor %}
      </div>
    </div>
    <style></style>
  </body>
</html>

